---
title: 'Previous Winners'
description: 'Meta description for the page'
preloadImg: '/assets/images/Escape Hilo2.jpg'
permalink: 'PreviousWinners/'
eleventyNavigation:
    key: Previous Winners
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/projects.css">
{% endblock %}

{% block body %}
    
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Previous Winners</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing-m.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing-m.webp" alt="Escape Hilo Escape Hilo" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo1.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/escapehilo1.webp" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo2.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo2.webp" alt="Big Islands Best Escape Room" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo3.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo3.webpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo3.webp" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo4.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo4.webp"">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo4.webp".jpg" alt="new Escape Hilo" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo5.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo5.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo5.webp" alt="Escape Hilo" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo6.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo6.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo6.webp" alt="new Escape Hilo Escape Hilo" loading="lazy" width="400" height="560">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo7.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo7.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo7.webp" alt="new Escape Hilo" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo8.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo8.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo8.webp" alt="Escape Hilo" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo9.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo9.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo9.webp" alt="new Escape Hilo Escape Hilo" loading="lazy" width="400" height="560">
                    </picture>

                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
            </div>
        
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}